*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  min-height: 100vh;
}
body:before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background-image: url(images/coffee\ background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.8;
}
#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: 100vh;
}
#header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  background-color: rgba(165, 42, 42, 0.7);
  font-family: "Caprasimo", cursive;
  box-shadow: inset 0px -10px 10px -10px rgba(0, 0, 0, 0.5);
}
.header-container {
  display: flex;
}
.welcome-logo {
  margin-top: 17px;
  margin-right: 10px;
  text-shadow: 2px 2px 3px lightgreen;
}
.coffee-img {
  margin-top: 10px;
  width: 50px;
  animation: rotate 4s linear infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}
#button-home,
#button-menu,
#button-contact {
  margin: 20px;
  border: none;
  padding: 8px;
  background: none;
  font-size: 20px;
  cursor: pointer;
  font-family: "Caprasimo", cursive;
  text-shadow: 2px 2px 3px orange;
}
#button-home.active,
#button-menu.active,
#button-contact.active {
  background-image: linear-gradient(lightblue, lightpink);
  border-radius: 10px;
  border-bottom: 4px solid coral;
}
#main {
  max-width: 520px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  font-family: "Ysabeau Infant", sans-serif;
}
/* Welcome container */
.welcome-container {
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateX(-20px);
  animation: slide-in 0.5s forwards;
}
@keyframes slide-in {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.welcome {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 5px brown;
}
.img-container {
  display: flex;
  justify-content: center;
}
.img {
  width: 200px;
  object-fit: cover;
  animation: up-down 3s linear infinite;
}
@keyframes up-down {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.intro {
  color: white;
  padding: 10px;
  font-size: 18px;
}
strong {
  color: red;
  text-shadow: 2px 2px 5px black;
}
.days-container {
  display: flex;
  justify-content: center;
}
.work-days {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(lightcoral, lightgrey);
  padding: 8px;
  width: 300px;
  height: 360px;
  border-radius: 10px;
}
.work-intro {
  font-size: 25px;
}
.days {
  padding: 10px;
  color: brown;
  font-weight: 600;
  font-size: 18px;
}
/* Coffee container */
.coffee-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  display: none;
  opacity: 0;
  transform: translateY(-30px);
  animation: slide 0.5s forwards;
}
@keyframes slide {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.coffee-card {
  width: 230px;
  margin: 10px;
  text-align: center;
}
.coffee-name {
  color: white;
  margin-top: 10px;
  text-shadow: 2px 2px 5px brown;
}
.coffee {
  margin-top: 10px;
  width: 200px;
  object-fit: cover;
  border-radius: 20px;
  height: 200px;
}
.price {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 2px lightseagreen;
}
/* Location container */
.location-container {
  display: flex;
  flex-direction: column;
  display: none;
  opacity: 0;
  transform: translateY(-30px);
  animation: come 0.5s forwards;
}

@keyframes come {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.loc-intro {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px lightpink;
}
.dushanbe {
  margin-top: 10px;
  color: white;
  font-size: 22px;
  text-shadow: 2px 2px 5px lightpink;
}
.dushanbe-img {
  width: 100%;
  margin-top: 15px;
  object-fit: cover;
}
/* Footer */
.footer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  color: #ddd;
  background-color: black;
  font-weight: bold;
}
.fa-github {
  margin-left: 8px;
  font-size: 25px;
  transition: transform 0.3s ease-in-out;
}
.fa-github:hover {
  color: blueviolet;
  transform: rotate(360deg) scale(1.2);
}
/* media queries */
@media screen and (max-width: 349px) {
  #button-home,
  #button-menu,
  #button-contact {
    margin: 5px;
  }
}
@media screen and (max-width: 326px) {
  #main {
    max-width: 300px;
  }
}
@media screen and (max-width: 304px) {
  #main {
    max-width: 270px;
  }
}
