*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: bisque;
}
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    background-color: rgba(165, 42, 42, 0.7);
    font-family: 'Caprasimo', cursive;
}
.header-container {
    display: flex;
}
.welcome-logo {
    margin-top: 17px;
    margin-right: 10px;
}
.coffee-img {
    width: 50px;
    object-fit: cover;
    animation: rotate 4s linear infinite;
}
@keyframes rotate {
    100% {
        transform: rotate(-360deg);
    }
}
#button-home, #button-menu, #button-contact {
    margin: 20px;
    border: none;
    padding: 8px;
    background: none;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Caprasimo', cursive;
}
#button-home.active,
#button-menu.active,
#button-contact.active {
  background-image: linear-gradient(lightblue, lightpink);
  border-radius: 10px;
  border-bottom: 4px solid orange;
}